body {
  background-image: url(/assets/building.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero * {
  color: white;
}

#hero {
  padding: 2rem;
  background-color: hsla(0, 0%, 100%, .4);
  border-radius: 2rem;
  height: auto;
}

#atm-machine {
  height: 50vh;
}

#right-section {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(67, 38, 18, 0.5);
}

#rfid-chip {
  height: 20vh;
}